.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: #141414;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #141414;
}

.navbar-logo a {
  color: #e50914;
  font-size: 24px;
  text-decoration: none;
}

.navbar-search input {
  padding: 5px;
  font-size: 16px;
}

.home {
  padding: 20px;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-card {
  width: 200px;
  cursor: pointer;
  text-align: center;
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}

.movie-detail {
  padding: 20px;
}

.movie-section {
  margin-bottom: 20px;
}

.movie-section h2 {
  margin-left: 20px;
}

.movie-list {
  display: flex;
  overflow-x: auto;
  padding: 20px;
}

.movie-list::-webkit-scrollbar {
  display: none; /* Ocultar a barra de rolagem */
}

.movie-card {
  flex: 0 0 auto;
  width: 200px;
  margin-right: 15px;
  cursor: pointer;
  text-align: center;
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}

